<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> </title>
    <meta name="keywords" content="B社区,blog,博客"/>
    <meta name="description" content="B社区"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
</head>
<body style="-webkit-overflow-scrolling: touch;overflow-y: scroll;">
    <div style="width: 700px; margin: auto; padding: 40px 20px;">
        <img src="../client/images/logo.png" style="width: 100px; height: auto; margin: auto;"/>
        <div style="font-size:30px; color: #000000; margin-top: 60px;">B社区密码找回</div>
        <div style="font-size:14px; color: #000000; margin-top: 20px;">我们谨以此电邮通知您，您在线ID为「cyqasim」的账户密码为：</div>
        <div style="font-size:14px; color: #5887f5; margin-top: 5px; margin-bottom: 40px;">{{ password }}</div>
        <hr/>
        <div style="font-size:14px; color: #000000; margin-top: 20px;">B社区</div>
        <div style="font-size:14px; color: #000000; margin-top: 5px;">此电邮乃系统自动发出，请不要回复。</div>
        <div style="font-size:14px; color: #000000; margin-top: 5px;">© 2019 B-community LLC.</div>
    </div>
</body>
</html>
