.side-box{
    width: 100px;
    height: 100px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 999999;
    transform: translate(50%, 50%);
    .side-btn{
        width: 100px;
        height: 100px;
        padding: 18px 0 0 18px;
        transition: all .5s cubic-bezier(.2, .35, 0, .9);
        border-radius: 50%;
        font-size: 24px;
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
    }
}
.side-box.style1{
    .side-btn{
        background: linear-gradient(#74c947,#4bc459);
        color: #ffffff;
    }
}
.side-box:hover{
    .side-btn{
        transform: scale(1.5);
    }
}